 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/Chicago-Bean-scaled.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 739px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.875rem;
  font-style: italic;
  width: 739px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 229px auto 38px;
  padding: 16px 46px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 948px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 948px;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-shape-1 {
  width: 246px;
  height: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 324px;
}

.u-section-2 .u-image-1 {
  width: 510px;
  height: 510px;
  background-image: url("images/ny.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -122px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 279px;
  height: 279px;
  box-shadow: 5px 5px 18px 1px rgba(0,0,0,0.4);
  background-image: url("images/fifa.webp");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -145px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 213px;
  height: 201px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --color-var: #3a50f9;
  margin: -116px auto 0 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 948px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px 28px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 215px 0 0 53px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 18px 0 0 53px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 15px 0 0 53px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  --color-var: #f4c910;
  margin: 36px auto 0 53px;
  padding: 13px 52px 15px 51px;
}

.u-section-2 .u-btn-2 {
  font-size: 1.125rem;
  margin: 213px 26px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -16px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 865px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 224px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -137px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -27px;
    margin-left: 77px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 782px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 80px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1.2;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 811px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 114px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-2 .u-image-2 {
    width: 246px;
    height: 246px;
    margin-top: -74px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -6px;
    margin-left: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 50px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 745px;
  }

  .u-section-2 .u-image-1 {
    width: 464px;
    height: 464px;
    margin-top: -170px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 272px;
    height: 272px;
    margin-top: -162px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -66px;
    margin-left: 114px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 712px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 94px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -85px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -11px;
    margin-left: 40px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 45px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: url("images/ty.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1142px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1157px;
  margin: 40px auto 0 -47px;
}

.u-section-3 .u-image-1 {
  min-height: 1102px;
  background-position: 50% 50%;
  background-image: url("images/16951-min.jpg");
  background-size: cover;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1102px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 11px 155px 0 80px;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  margin: 36px 11px 0 80px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: -50px 53px 0 80px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 895px;
  }

  .u-section-3 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 895px;
  }

  .u-section-3 .u-text-1 {
    line-height: 1.2;
    margin-top: 29px;
    margin-right: 108px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-2 {
    width: 407px;
    margin-top: 0;
    margin-left: 33px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
    margin-left: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 686px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: 312px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 908px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 572px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 45px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 543px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 36px 169px 0 260px;
}

.u-section-4 .u-list-1 {
  margin-top: 22px;
  margin-bottom: 1px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 379px;
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/ny2.jpg");
  background-position: 50% 50%;
  margin: 41px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: -174px 35px 0 238px;
}

.u-section-4 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  margin: 14px 50px 0 248px;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  margin: 27px 75px 0 auto;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("images/vegas.jpg");
  background-position: 50% 50%;
  margin: 41px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: -174px 35px 0 238px;
}

.u-section-4 .u-text-5 {
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  margin: 14px 50px 0 248px;
}

.u-section-4 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  margin: 27px 75px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 512px;
    margin-left: 160px;
    margin-right: 69px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 313px;
    grid-gap: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 98px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 98px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
} .u-section-5 {
  background-image: url('images/SL-062121-43870-15.jpg'), linear-gradient(to bottom, rgba(58, 80, 249, 1), rgba(58, 80, 249, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 497px;
}

.u-section-5 .u-image-1 {
  width: 253px;
  height: 253px;
  background-image: url("images/nashville-usa-1122x748.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px 434px 0 auto;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 357px 0 auto;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  margin: 45px 463px 45px auto;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 294px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 225px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    margin-right: 287px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 169px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    margin-right: 87px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 106px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 663px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 966px;
  margin: 30px auto 10px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 616px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  margin: 0 auto;
}

.u-section-6 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 663px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 107px;
  height: 107px;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  font-size: 1.25rem;
  margin: 23px auto 0 72px;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-form-group-4 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 645px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 30px;
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 10px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2rem;
  }
}