 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/Chicago-Bean-scaled.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 704px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 739px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.875rem;
  font-style: italic;
  width: 739px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 259px auto 60px 440px;
  padding: 16px 46px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 229px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 319px;
    margin-bottom: 58px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 948px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 948px;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-shape-1 {
  width: 246px;
  height: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 324px;
}

.u-section-2 .u-image-1 {
  width: 510px;
  height: 510px;
  background-image: url("images/ny.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -122px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 279px;
  height: 279px;
  box-shadow: 5px 5px 18px 1px rgba(0,0,0,0.4);
  background-image: url("images/fifa.webp");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -145px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 213px;
  height: 201px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --color-var: #3a50f9;
  margin: -116px auto 0 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 948px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px 28px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 215px 0 0 53px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 18px 0 0 53px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 15px 0 0 53px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  --color-var: #f4c910;
  margin: 36px auto 0 53px;
  padding: 13px 52px 15px 51px;
}

.u-section-2 .u-btn-2 {
  font-size: 1.125rem;
  margin: 213px 26px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -16px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 865px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 224px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -137px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -27px;
    margin-left: 77px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 991px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 80px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1.2;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 77px;
    margin-right: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -9px;
    margin-bottom: 9px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 811px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 114px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-2 .u-image-2 {
    width: 246px;
    height: 246px;
    margin-top: -74px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -6px;
    margin-left: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 912px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 8px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 8px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 8px;
    margin-left: 28px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 28px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 68px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 815px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 464px;
    height: 464px;
    margin-top: -188px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 272px;
    height: 272px;
    margin-top: -162px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -66px;
    margin-left: 114px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1329px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 712px;
  }

  .u-section-2 .u-shape-1 {
    width: 132px;
    height: 132px;
    margin-top: 0;
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -56px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 230px;
    height: 230px;
    margin-top: -85px;
  }

  .u-section-2 .u-shape-2 {
    width: 160px;
    height: 160px;
    margin-top: -49px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 617px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 45px;
    margin-right: auto;
  }
} .u-section-3 {
  background-image: url("images/ty.jpg");
  background-position: 50% 50%;
  min-height: 1142px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1107px);
  margin: 40px auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 1102px;
  background-size: cover;
  background-image: url("images/16951-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1102px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 11px 155px 0 80px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 36px 11px 0 80px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: -12px 53px 0 80px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1074px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2)  + 964px);
  }

  .u-section-3 .u-image-1 {
    background-position: 59.04% 50%;
    min-height: 1034px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1034px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 77px;
    margin-left: 33px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 6px;
    margin-left: 33px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2)  + 750px);
  }

  .u-section-3 .u-image-1 {
    filter: none;
    background-position: 66.8% 50%;
    min-height: 934px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 170px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 952px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 17px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2101px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2)  + 540px);
    margin-top: 0;
    margin-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 1302px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 855px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 57px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1806px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    background-position: 58.39% 50%;
    background-size: auto 101%;
    min-height: 820px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 986px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 62px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-right: 16px;
    margin-left: 8px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 597px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 890px;
  margin: 38px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 54px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 379px;
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/miami.webp");
  background-position: 50% 50%;
  margin: 41px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: -174px 35px 0 238px;
}

.u-section-4 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  margin: 14px 50px 0 248px;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  margin: 27px 75px 0 auto;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("images/vegas.jpg");
  background-position: 50% 50%;
  margin: 41px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: -174px 35px 0 238px;
}

.u-section-4 .u-text-5 {
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  margin: 14px 50px 0 248px;
}

.u-section-4 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  margin: 27px 75px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-4 .u-text-1 {
    width: 714px;
    margin-top: 44px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -10px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 475px;
    grid-gap: 10px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: 97px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 24px;
    margin-left: 49px;
  }

  .u-section-4 .u-text-3 {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
    margin-right: 100px;
    margin-bottom: -12px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: 97px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-right: 24px;
    margin-left: 49px;
  }

  .u-section-4 .u-text-5 {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 0;
    margin-right: 100px;
    margin-bottom: -12px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 8px;
    margin-bottom: -5px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 637px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 40px;
    margin-right: auto;
    margin-left: 39px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -172px;
    margin-right: -65px;
    margin-left: 125px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 29px;
    margin-right: 101px;
    margin-left: 312px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 156px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 40px;
    margin-right: auto;
    margin-left: 39px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -172px;
    margin-right: -65px;
    margin-left: 125px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 29px;
    margin-right: 101px;
    margin-left: 312px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 156px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-image-1 {
    margin-left: 11px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -166px;
    margin-right: 0;
    margin-left: 174px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 17px;
    margin-right: 19px;
    margin-left: 214px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 17px;
    margin-right: 92px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 11px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -166px;
    margin-right: 0;
    margin-left: 174px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 17px;
    margin-right: 19px;
    margin-left: 214px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 17px;
    margin-right: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 48px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 29px;
    margin-bottom: 56px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 952px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-4 .u-image-1 {
    margin-top: 25px;
    margin-left: 75px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 31px;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 19px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 25px;
    margin-left: 75px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 31px;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 19px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 8px;
    margin-right: auto;
  }
} .u-section-5 {
  background-image: url('images/SL-062121-43870-15.jpg'), linear-gradient(to bottom, rgba(58, 80, 249, 1), rgba(58, 80, 249, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 497px;
}

.u-section-5 .u-image-1 {
  width: 253px;
  height: 253px;
  background-image: url("images/ny2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px 434px 0 auto;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 357px 0 auto;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  margin: 45px 463px 45px auto;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 46px;
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-right: auto;
    margin-bottom: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 37px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 29px;
    margin-left: 53px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 53px;
    margin-bottom: 60px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 663px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 966px;
  margin: 30px auto 10px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 616px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  margin: 0 auto;
}

.u-section-6 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 663px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 107px;
  height: 107px;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  font-size: 1.25rem;
  margin: 23px auto 0 72px;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-form-group-4 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 645px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 30px;
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 620px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 208px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 30px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 224px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 5px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 10px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 21px;
  }
}