 .u-section-1 {
  background-image: url("images/56.jpg");
  background-position: 50% 50%;
  min-height: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1175px);
  margin: 1px 0 1px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 563px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 13px 48px;
}

.u-section-1 .u-text-1 {
  margin: 34px 22px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 34px 31px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 563px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/flat-lay-office-desk-assortment-with-empty-screen-tablet_23-2148707960.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 145px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 28px;
  }

  .u-section-1 .u-image-1 {
    min-height: 417px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 100px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 504px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-image-1 {
    min-height: 238px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1118px;
}

.u-section-2 .u-shape-1 {
  width: 306px;
  height: 306px;
  margin: 35px 275px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 245px;
  height: 245px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 337px auto 0 13px;
}

.u-section-2 .u-image-1 {
  width: 631px;
  height: 631px;
  background-image: url("images/tramite-de-visa-americana.webp");
  background-position: 11.88% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-size: cover;
  box-shadow: 5px 5px 20px 0 rgba(77,89,183,0.4);
  margin: -839px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 634px;
  min-height: 399px;
  height: auto;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -178px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 39px 37px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 12px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 13px 0 0;
}

.u-section-2 .u-shape-3 {
  width: 209px;
  height: 209px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -109px auto 60px 247px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 131px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 336px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -850px;
  }

  .u-section-2 .u-group-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -209px;
    height: auto;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 15px;
    margin-bottom: -6px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 51px;
    margin-right: 234px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: -76px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 5px;
    margin-bottom: -75px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 35px;
    margin-right: 34px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 136px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -650px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -83px;
    margin-bottom: -3px;
    margin-left: 131px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: -9px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 670px;
  text-transform: uppercase;
  line-height: 0.8;
  margin: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-shape-1 {
  width: 246px;
  height: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 47px auto 0 713px;
}

.u-section-3 .u-image-1 {
  width: 610px;
  height: 610px;
  background-image: url("images/nashville-usa-1122x748.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -257px auto 0 217px;
}

.u-section-3 .u-image-2 {
  width: 285px;
  height: 285px;
  background-image: url("images/images.jfif");
  background-position: 50% 50%;
  box-shadow: 5px 5px 18px 1px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-size: cover;
  margin: -278px 167px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 168px;
  height: 168px;
  background-image: none;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -165px auto 0 92px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 442px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 99px 103px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 0 0 61px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 52px 0 0 19px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 650px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 608px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 131px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 575px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: 87px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 421px;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    height: 520px;
    margin-top: -212px;
    margin-left: 61px;
  }

  .u-section-3 .u-image-2 {
    width: 242px;
    height: 242px;
    margin-top: -213px;
    margin-left: 448px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -197px;
    margin-bottom: 29px;
    margin-left: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 633px;
  }

  .u-section-3 .u-shape-1 {
    width: 185px;
    height: 185px;
    margin-left: 302px;
  }

  .u-section-3 .u-image-1 {
    width: 447px;
    height: 447px;
    margin-top: -142px;
    margin-left: 30px;
  }

  .u-section-3 .u-image-2 {
    width: 220px;
    height: 220px;
    margin-top: -144px;
    margin-left: 291px;
  }

  .u-section-3 .u-shape-2 {
    width: 150px;
    height: 150px;
    margin-top: -165px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-3 .u-shape-1 {
    width: 126px;
    height: 126px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 306px;
    height: 306px;
    margin-top: -83px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 154px;
    height: 154px;
    margin-top: -92px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 115px;
    height: 115px;
    margin-top: -152px;
    margin-bottom: 37px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.1875rem;
  }
} .u-section-4 {
  filter: none;
  background-image: url("images/SL-062121-43870-15.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 626px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 16px 224px 0 0;
}

.u-section-4 .u-list-1 {
  filter: none;
  background-image: none;
  margin: 50px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 332px;
  --gap: 30px;
  grid-auto-columns: calc(25% - 22.5px);
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  border-style: solid;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-1 {
  padding: 8px 24px 17px 12px;
}

.u-section-4 .u-text-2 {
  filter: none;
  margin: 0 -13px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  border-style: solid;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-2 {
  padding: 8px 24px 17px 12px;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: 700;
  filter: none;
  margin: 0 -13px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  border-style: solid;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-3 {
  padding: 8px 24px 17px 12px;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: 700;
  filter: none;
  margin: 0 -13px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  border-style: solid;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-4 {
  padding: 8px 24px 17px 12px;
}

.u-section-4 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: 700;
  filter: none;
  margin: 0 -13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 24px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-gap: 30px;
    min-height: 273px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(50% - 15px);
    min-height: 836px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 186px;
  }
}